body {
    //fonts
    font-family: 'Roboto';
    font-size: 16px;
}

html {
    @include desktop {
        font-size: 16px;
    }
    
    @include laptop {
        font-size: 15px;
    }

    @include tablets {
        font-size: 14px;
    }

    @include phones {
        font-size: 13px;
    }
}