@mixin title-lines($type) {
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 25px;
        height: 5px;
        width: 0;
        height: 0;
        transition: width .5s, height .5s;
        background-color: rgba(#cacbc8, .65);
        position: absolute;
        top: 50%;
        left: 0;
        @if $type == 'title'
            { transform: translate(-200%, -50%); }
        @if $type == 'subtitle'
            { transform: translate(-150%, -50%); }
    }
    &:after {
        content: '';
        display: block;
        width: 25px;
        height: 5px;
        width: 0;
        height: 0;
        transition: width .5s, height .5s;
        background-color: rgba(#cacbc8, .65);
        position: absolute;
        top: 50%;
        left: 100%;
        @if $type == 'title'
            { transform: translate(100%, -50%); }
        @if $type == 'subtitle'
            { transform: translate(50%, -50%); }
    }
    &:hover {
        &:after, &:before{
            width: 25px;
            height: 5px;
            transition: width .5s, height .5s;
        } 
    }
    @include tablets {
        &:after, &:before{
            width: 25px;
            height: 5px;
            transition: width .5s, height .5s;
        } 
    }
}

@mixin skill-circle($title) {
    position: relative;
    &:after {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $bg-beige;
        position: relative;
        &:after {
            content: $title;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@mixin desktop {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin tablets {
    @media (max-width: 880px) {
        @content;
    }
}

@mixin phones {
    @media (max-width: 480px) {
        @content;
    }
}
