.footer {
    background-color: rgba(#373e42, .6);
    color: $transp-white;
    &.hidden {
        display: none;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        padding: 15px 30px;

        &:not(:last-of-type) {
            border-bottom: 1px solid #6b7879;
        }

        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__col {
        width: 40%;
        display: flex;
        @include tablets {
            text-align: center;
        }
        &_right {
            justify-content: flex-end;
        }

        @include tablets {
            width: 90%;
            justify-content: center;
        }
        &:not(:last-of-type) {
            @include tablets {
                margin-bottom: 20px;
            }
        }
    }

    &__menu-text, &__credits {
        height: fit-content;
        margin: auto 0;
    }

}

.menu-text {
    display: flex;
    color: $white;
    &__item {
        &:hover {
            color: $bg-green;
        }
        &:not(:last-of-type) {
            margin-right: 40px;
            @include phones {
                margin-right: 10px;
            }
        }
    }
}
