.hero {
    background-image: url('../images/bg.jpg');
    background-size: cover;

    min-height: 620px;
    height: 100%;
    position: relative;

    &__intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__arrow {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}

.header {
    display: flex;
    &__socials {
        margin-right: auto;
        margin-top: 3%;
        margin-left: 3%;
    }

}

.menu {
    display: block;
    // height: 100%;   
    width: 36px;
    height: 36px;
    background-color: $white;
    border-radius: 2px;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 36px;
        height: 5px;
        position: absolute;
        bottom: 120%;
        background-color: crimson;
    }
}

.arrow {
    height: 20px;
    width: 25px;
    &__icon {
        fill: $transp-white;
        &:hover {
            transition: .3s;
            fill: $white;
        }
    }
}
