.hero {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;

    &_blog {
        height: 100vh;
        min-height: 650px;
        @include phones {
            min-height: 568px;
        }
    }

    min-height: 100vh;
    // min-height: 620px;
    // height: 100%;
    position: relative;

    &__intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    &__arrow {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -100%);
        z-index: 10;
    }

    &__triangles {
        position: absolute;
        top: 101%;
        left: 0;
        transform: translateY(-100%);
    }

    &__menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 50;
    }
}

.header {
    display: flex;
    &__socials {
        margin-right: auto;
        margin-top: 3%;
        margin-left: 3%;
    }
    &__menu-burger {
        margin-top: 3%;
        margin-right: 3%;
        z-index: 100;
    }
}

.menu-burger {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    &.active {
        .menu-burger__icon {
            background-color: transparent;
            &:after, &:before {
                top: 50%;
                left: 50%;
                transform-origin: top left;
                transition: transform .5s;
            }
            &:before {
                transform: rotate(-45deg) translate(-50%, -50%);
            }
            &:after {
                transform: rotate(45deg) translate(-50%, -50%);
            }
        }
    }
    &__icon {
        height: 5px;
        width: 100%;
        background-color: $white;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:before {
            content: '';
            display: block;
            width: 36px;
            height: 5px;
            position: absolute;
            // bottom: 300%;
            top: -300%;
            transition: top .5s;
            background-color: $white;
            border-radius: 2px;
        }
        &:after {
            content: '';
            display: block;
            width: 36px;
            height: 5px;
            position: absolute;
            top: 300%;
            transition: top .5s;
            background-color: $white;
            border-radius: 2px;
        }
    }
}

.triangles {
    &__left {
        fill: $bg-white;
    }
    &__right {
        fill: $bg-beige;
    }

    &_my-works {
        .triangles__left, .triangles__right {
            fill: #faf8f0;
        }
    }
    &_blog {
        .triangles__left, .triangles__right {
            fill: $white;
        }
    }
}