.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__avatar {
        border-radius: 50%;
        
        //FIX
        max-width: 40%;
        max-width: 150px;
        //END FIX
    }
    &__text {
        display: flex;
        flex-direction: column;
        &_blog {
            color: $white;
        }
    }

    &__name {
        font-size: 28px;
        &_welcome {
            color: $text-dark;
        }
        &_hero {
            color: white;
        }
    }

    &__site {
        font-weight: 300;
        &_welcome {
            color: rgba($text-dark, .85);
        }
        &_hero {
            color: rgba(white, .85);
        }
    }

    
}