.parallax {
    height: 100%;

    &__layer {
        position: absolute;
        left: -10%;
        // transform: translateX(-50%);
        bottom: 0;
        height: 100%;
        min-width: 1600px;
        width: 125%;
    }
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

}