.preloader {
    visibility: hidden;
    // opacity: 0;
    // transition: opacity .5s;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    min-height: 650px;
    &__bg {
        min-width: 100%;
        min-height: 100%;
    }
    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        fill: transparent;
        stroke: $transp-white;
        stroke-width: 1px;
        // stroke-width: 1px;
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        transition: stroke-dashoffset .5s;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        color: $white;
        font-size: 22px;
        font-family: 'Roboto';
    }

    &.active {
            // display: block;
            z-index: 110;
            // opacity: 1;
            visibility: visible;
            & ~ section {
            display: none;
        }
    }

}

// #preloader_round text {
//     fill: crimson
// }