.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        &:not(:last-of-type) {
            margin-right: 30px;
        }
        &_footer:not(:last-of-type){
            margin-right: 10px;
        }
    }
}
