.subtitle {
    display: flex;
    justify-content: center;
    &__text {
        text-transform: uppercase;
        font-family: 'Bernier';
        width: fit-content;
        color: $text-dark;
        font-size: 35px;
        @include title-lines();
        margin: 35px 0;
        &_contacts {
            margin: 0 0;
        }
    }
}