.title {
    display: flex;
    justify-content: center;
    &__text {
        text-transform: uppercase;
        font-family: 'Bernier';
        width: fit-content;
        color: $text-dark;
        font-size: 63px;
        @include title-lines();
        margin: 70px 0;
        &_avatar-area {
            margin-top: 0;
        }
    }
    // &_talk {
    //     background-image: url('images/sprite.svg#')
    // }
}
