.title {
    display: flex;
    justify-content: center;
    position: relative;
    &__text {
        text-transform: uppercase;
        font-family: 'Bernier';
        width: fit-content;
        color: $text-dark;
        font-size: 63px;
        @include title-lines('title');
        margin: 70px 0;
        z-index: 20;

        @include phones {
            font-size: 48px;
        }

        &_avatar-area {
            margin: 0;
        }
        &_intro {
            color: $white;
            margin: 0;
        }
        &_talk {
            width: 65%;
            text-align: center;
            line-height: 1.05;
        }
    }

    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &_works {
            fill: #f0eee7;
            transform: scale(1.5) translate(-33.33%, -33.33%);
            @include phones {
                transform: scale(1) translate(-50%, -50%);
            }
        }
        &_intro {
            fill: rgba($transp-white, .15);
            transform: scale(1.5) translate(-33.33%, -33.33%);
        }
        &_avatar-area {
            fill: #e6e5e0;
        }
        &_talk {
            transform: scale(1.5) translate(-33%, -33%);
            fill: #ebecec;
            @include phones {
                transform: scale(1) translate(-50%, -50%);
            }
        }

    }
}
