extends ../base
include ../blocks/socials
include ../blocks/intro
block head
    title Обо мне
block variables
    -

        var activities = ['frontend', 'backend', 'workflow'];
        var skillSet = [
            ['html', 'css', 'js'],
            ['php', 'mySQL', 'node.js', 'mongo.db'],
            ['git', 'gulp', 'webpack']
        ]


block content
    section.section.hero
        header.hero__header.header
            .header__socials.socials_about
                +socials('hero')
            a(href='#').header__menu.menu
                .menu__icon
        .hero__intro
            +intro('hero')
        a(href='#').hero__arrow.arrow
            svg(width='25', height='20').arrow__icon
                use(xlink:href='images/sprite.svg#arrow')
    section.section.personal
        .personal__left-col
            svg.personal__triangle.personal__triangle_left
                use(xlink:href=`images/sprite.svg#triangle_left`)
            .personal__avatar-area.avatar-area
                .avatar-area__title.title 
                    .title__text Обо мне
                img(src='images/avatar.jpg').avatar-area__img
            .personal__text-area.text-area
                h1 Кто я
                p Далеко-далеко за словесными горами в странегласных и согласных живут рыбные тексты. На берегусвоего коварных ручеек имеет!
                p Далеко-далеко за словесными, горами в странегласных и согласных живут рыбные тексты.
        .personal__right-col
            svg.personal__triangle.personal__triangle_right
                use(xlink:href=`images/sprite.svg#triangle_right`)
            .personal__text-area.text-area
                h1 Чем я могу быть вам полезен
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
            ul.personal__skills.skills
                each item, index in activities
                    li.skills__item
                        .skills__title #{item}
                        ul(class=`${item}`)
                            each skillItem in skillSet[index]
                                li(class=`${item}__item ${skillItem}`)
