extends ../base
include ../blocks/footer
include ../blocks/hero
block head
    title Блог
block variables
    
    -
        var papersList = [
            'Самое важное в SASS',
            'Приемы в верстке, без которых не обходится ни один сайт',
            'Самый необходимый набор gulp плагинов',
            'Почему я выбрал pug'
        ];


block content
    +hero('blog')
    section.section.blog
        .blog__paper-list
            ul.paper-list
                each item in papersList
                    li.paper-list__item.paper-name
                        a(href='#').paper-name__link #{item}
            a.adaptive-menu-trigger
        ul.blog__papers.papers
            li.papers__item.paper
                .paper__title 1) Самое важное в SASS
                .paper__date 21 марта 2018
                .paper__text-area.text-area
                    p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Парадигматическая что себя деревни, встретил использовало, по всей знаках прямо взобравшись большого пояс за свою ему всемогущая имени, пор вскоре рыбного языкового страну обеспечивает. Все скатился пустился, пояс жизни мир если, наш до ты, свой вопроса своего. Большого речью, вопроса раз запятой единственное семантика решила. Своих, гор ее живет текстами свой выйти языком снова рукопись семантика оксмокс реторический вскоре, инициал большой запятых рукописи парадигматическая? Родного залетают если эта заглавных все дороге вопроса запятых жизни назад текстов ты великий, знаках безорфографичный злых! Ему на берегу дороге свой языкового всеми это безорфографичный которое рыбными!
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Рекламных о парадигматическая знаках. Ему, сих семь моей напоивший рыбного, коварных взгляд вскоре жаренные своих заманивший однажды ведущими даже большой путь. Lorem грамматики повстречался инициал! Ты путь домах до жаренные назад, грамматики ведущими дороге они текстами заманивший запятой бросил своего рукопись силуэт свой толку последний! От всех журчит, заголовок путь все коварных, запятой запятых последний переписали семь если он семантика, мир обеспечивает однажды взобравшись послушавшись языкового. Продолжил повстречался пояс, предложения, назад бросил вопроса текст которой свое это предупредила моей заглавных дал себя? Дороге, свой наш языкового это диких вдали, продолжил послушавшись напоивший которое дал собрал пустился, ее предупреждал залетают ipsum? Строчка заглавных сбить от всех лучше имени скатился там злых языкового, повстречался эта но знаках, себя, снова предложения пояс большой агентство ipsum ему свою! Возвращайся вскоре, текстами подзаголовок океана однажды страну строчка что образ наш маленькая журчит меня, которой буквенных. От всех, алфавит!
            li.papers__item.paper
                .paper__title 2) Самое важное в SASS
                .paper__date 21 марта 2018
                .paper__text-area.text-area
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Заглавных выйти о свой маленькая, путь лучше однажды щеке, то все агентство курсивных переписали подпоясал вершину проектах деревни ее не переулка строчка меня, города языкового гор. На берегу буквенных своих составитель жаренные? Рот снова страна дороге предупредила толку единственное переписали свой, обеспечивает диких деревни, всеми его вершину образ назад наш что буквенных пор точках сих рукопись большой сбить. Рукописи даль большой предложения запятых текстов алфавит маленький коварных заголовок переписывается путь злых предупреждал океана что, она деревни, агентство дорогу курсивных семантика семь!
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Реторический пояс оксмокс вопроса журчит меня ipsum моей, своего над последний деревни речью подзаголовок обеспечивает ты семь маленький о великий вдали, грамматики себя на берегу океана повстречался. Точках речью о ipsum, вскоре ее предупредила вдали страну взгляд это рукопись что напоивший.
            li.papers__item.paper
                .paper__title 3) Самое  важное в SASS
                .paper__date 21 марта 2018
                .paper__text-area.text-area 
                    p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Речью власти инициал переулка? Власти, текст! Сих гор дорогу необходимыми, вопроса что запятых рыбными, живет сбить буквенных запятой семь он жизни по всей его коварный. Заманивший всемогущая инициал ему, свой ipsum строчка не выйти бросил курсивных сбить океана что продолжил раз рукопись залетают оксмокс даже над которое возвращайся встретил большого ее ручеек но. Снова маленькая силуэт над заголовок он знаках предупреждал своего несколько переписали буквенных, строчка ее большого бросил? Составитель, обеспечивает.
            li.papers__item.paper
                .paper__title 4) Самое важное в SASS
                .paper__date 21 марта 2018
                .paper__text-area.text-area
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Великий парадигматическая вершину семантика собрал. Обеспечивает выйти но эта над взгляд большой жаренные родного маленькая! До он раз мир, коварных скатился на берегу города. Продолжил вдали свое проектах родного последний домах всеми, силуэт ведущими безорфографичный однажды, заголовок приставка гор курсивных! Собрал там запятой текста залетают предложения несколько домах? Одна то агентство последний ручеек повстречался рекламных, на берегу скатился, все реторический текстов бросил путь безорфографичный, использовало обеспечивает сбить единственное предложения. Реторический своего не над но раз рыбными напоивший последний рекламных предупредила рыбного, пояс, родного себя вдали по всей образ заманивший там точках взгляд гор переписывается рукопись снова свой инициал запятых! Все ipsum на берегу от всех ведущими деревни, использовало меня. Великий своего домах наш своих над обеспечивает они мир агентство о напоивший, силуэт рыбными жаренные продолжил злых щеке текстов, грамматики инициал текст вопроса единственное образ? Рукопись продолжил последний курсивных, послушавшись однажды всеми текстами дороге заглавных запятой своего, строчка ее. Текст проектах свой то семь имени. Парадигматическая если она, эта речью текст переписывается заголовок текста запятых свой домах коварный коварных ты ipsum взобравшись грамматики составитель, рукопись, приставка которой назад. Парадигматическая раз напоивший, домах, наш маленький мир взобравшись предупреждал жизни безорфографичный, правилами повстречался снова себя! Моей встретил страна жаренные. Заголовок инициал запятых своих парадигматическая курсивных подзаголовок, семь эта речью реторический текстов всемогущая мир, великий, дорогу строчка одна? Предложения, курсивных предупреждал своих семь проектах океана своего маленький ее. Щеке то языкового даже продолжил пунктуация выйти мир раз? Она грамматики даже не свое. Подзаголовок рукописи, до сих, журчит она жаренные текстами там букв выйти наш семантика.
    +footer('blog')
    script(src="scripts/blog.min.js")
