extends ../base
include ../blocks/footer
include ../blocks/hero
include ../blocks/title
block head
    title Работы
block variables
block content
    +hero
    section.section.works
        +title('Работы', 'works')