mixin arrow(className, id)

    a(href='#', class=`arrow ${className}__arrow`, id=`${id || 'default'}`)
        svg(width='25', height='20').arrow__icon
            use(xlink:href='images/sprite.svg#arrow')