mixin hero

    include ../blocks/socials
    include ../blocks/intro

    section.section.hero
            header.hero__header.header
                .header__socials.socials_about
                    +socials('hero')
                a(href='#').header__menu.menu
                    .menu__icon
            .hero__intro
                +intro('hero')
            a(href='#').hero__arrow.arrow
                svg(width='25', height='20').arrow__icon
                    use(xlink:href='images/sprite.svg#arrow')
            svg(viewBox='0 0 1200 130', preserveAspectRatio='none').hero__triangles.triangles
                    polygon(points='0,0 600,110 600,130 0,130').triangles__left
                    polygon(points='600,110 1200,0 1200,130 600,130').triangles__right