mixin hero(className)

    include ../blocks/socials
    include ../blocks/intro
    include ../blocks/arrow
    include ../blocks/title

    section.section.hero(class=`hero_${className}`)
            header.hero__header.header
                .header__socials.socials_about
                    +socials('hero')
                a(href='#').header__menu.menu
                    .menu__icon
            .hero__intro
                if (className === 'blog')
                    .intro
                        img(src='images/avatar.jpg').intro__avatar
                        .intro__text_blog
                            +title('Блог', 'intro') 
                            .intro__papers Статьи, которые я написал
                else
                    +intro('hero')
            +arrow('hero')
            svg(class=`triangles_${className}`, viewBox='0 0 1200 130', preserveAspectRatio='none').hero__triangles.triangles
                    polygon(points='0,0 600,110 600,130 0,130').triangles__left
                    polygon(points='600,110 1200,0 1200,130 600,130').triangles__right