mixin subtitle(text, className)
    .subtitle(class=`${className}__subtitle`)
        if (className === 'descr')
            #show-title.subtitle__text(class=`subtitle__text_${className}`)= text
        else
            .subtitle__text(class=`subtitle__text_${className}`)= text