.personal {
    min-height: 835px;
    
    display: flex;
    @include tablets {
        flex-direction: column;
    }
    &__left-col {
        width: 50%;
        padding: 0 8% 4% 8%;
        background-color: $bg-white;
        @include tablets {
            width: 100%;
            padding: 0 20% 10% 20%;
        }
        @include phones {
            padding: 0;
        }
    }

    &__right-col {
        width: 50%;
        padding: 0 2% 4% 2%;
        background-color: $bg-beige;
        @include tablets {
            width: 100%;
            padding: 10% 20% 10% 20%;
        }
        @include phones {
            padding: 10% 0;
        }
    }

    // &__left-col, &__right-col {
    //     @include tablets {
    //         width: 100%;
    //         padding: 0 20% 10% 20%;
    //     }
    // }

    &__skills {
        margin-top: 65px;
        @include phones {
            padding: 0 5%;
        }
    }
    &__text-area {
        @include phones {
            padding: 0 5%;
        }
    }
}

.avatar-area {
    &__title {
        margin: 35px 0;
    }
    &__img {
        max-width: 100%;
    }
}

.text-area {
    color: $text-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        width: fit-content;
        max-width: 65%;
        text-transform: uppercase;
        font-family: 'Bernier';
        font-size: 35px;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
        @include title-lines('subtitle');
        @include phones {
            max-width: 75%;
        }
    }
    
    &_left h1:first-of-type {
        margin-top: 0;
    }
}

.skills {
    
    &__title {
        font-size: 28px;
        font-weight: 400;
        color: $text-dark;
        &::first-letter {
            text-transform: uppercase;
        }
        @include tablets {
            text-align: center;
        }
    }

}
.skills {
    &__list {
        display: flex;
        @include tablets {
            justify-content: center;
        }
        @include phones {
            flex-wrap: wrap;
        }
    }
    &__item {
        &:hover .circle__sector {
            stroke-dashoffset: 3.14*40;
            transition: stroke-dashoffset 1s;
        }
        &:not(:last-of-type) {
            margin-bottom: 35px;
        }
    }
}

.circle {
    position: relative;
    width: 120;
    height: 120;

    &:not(:last-of-type) {
        @include tablets {
            margin-right: 15px;
        }
    }

    &:nth-of-type(2n) {
        @include phones {
            margin-right: 0;
        }
    }

    &__icon {
        fill: none;
        stroke-width: 20;
    }

    &__main {
        stroke: #ccc;
        fill: none;
        position: relative;
    }

    &__sector {
        stroke: $bg-green;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        stroke-dasharray: 2*3.14*40;
        stroke-dashoffset: 2*3.14*40;
        transition: stroke-dashoffset 1s;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $bg-green;
        max-width: 70px;
        word-wrap: break-word;
        text-align: center;
        font-size: 12px;
        line-height: 14.7px;
    }
}

.map {
    background-image: url('../images/bg.jpg');
    background-size: cover;

    min-height: 980px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phones {
        align-items: flex-start;
    }
    &__contacts {    
        width: 380px;
        height: fit-content;
        @include phones {
            width: 100%;
        }
    }

    &__footer {
        position: absolute;
        top: 100%;
        width: 100%;
        transform: translateY(-100%);
    }
}

.contacts {
    background-color: $transp-white;
    padding: 0 40px 30px 40px 30px;
    color: $text-dark;

    &__subtitle {
        // padding-bottom: 40px;
    }

    &__icon {
        fill: $bg-green;
    }

    &__item {
        display: flex;
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }

    &__icon {
        margin-right: 10px;
    }
}




