.blog {
    display: flex;
    
    @include tablets {
        justify-content: center;
    }

    &__paper-list {
        padding-left: 40px;
        padding-top: 70px;
        width: 25%;
        @include tablets {
            width: 0;
            position: fixed;
            transition: width .5s, padding-left .5s, padding-right .5s;
            padding-left: 0;
            &.fixed {
                position: fixed;
                bottom: 0;
                top: 0;
                left: 0;
                
                .adaptive-menu-trigger {
                    display: block;
                    background-color: $bg-green;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    position: fixed;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                
                    -webkit-transition: left .5s;
                    -moz-transition: left .5s;
                    -o-transition: left .5s;
                    transition: left .5s;
                    
                    &.active {
                        left: 45%;
                        @include phones {
                            left: 75%;
                        }
                    }
                }

                &.active {
                    position: fixed;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 50%;
                    background-color: $bg-green;
                    width: 45%;
                    @include phones {
                        width: 75%;
                    }
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    padding-right: 40px;
                    padding-left: 40px;
                    z-index: 10;
                }
            }
        }
        &.fixed {
            position: fixed;
            // top: 70px;
            top: 0;
            width: 25%;
            @include tablets {
                // position: relative;
                width: 0%;
                background-color: $bg-green;
            }
        }
    }
    &__papers {
        width: 75%;
        padding-left: 90px;
        @include tablets {
            padding: 0;
            width: 90%;
        }
        @include phones {
            width: 80%;
        }
        &.fixed-neighbor {
            margin-left: 25%;
            @include tablets {
                margin-left: 0;
            }
        }
    }
}


.paper-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    &__item {
        &:not(:last-of-type) {
            margin-bottom: 25px;
        }
    }
    @include tablets {
        visibility: hidden;
        &.active {
            visibility: visible;
        }
    }
}

.paper-name {
    color: $text-dark;
    width: fit-content;
    @include tablets {
        color: $white;
        // border-color: $white;
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
        padding-right: 20px;
    }

    transition: border-right .5s;
    border-right: 3px solid transparent;

    &:hover {
        color: $bg-green;
        @include tablets {
            color: $transp-white;
        }
    }
    &.active {
        color: $bg-green;
        border-right: 3px solid $bg-green;
        @include tablets {
            color: $transp-white;
            border-right: 3px solid $transp-white;
        }
    }
}

.papers {
    padding-right: 110px;
    &__item {
        padding-bottom: 70px;
        padding-top: 70px;
        &:not(:last-of-type) {
            border-bottom: 5px solid #f1f1f2;
        }        
    }
}

.paper {
    &__title {
        font-family: 'Bernier';
        font-size: 40px;
        color: $text-dark;
        margin-bottom: 30px;
    }
    &__date {
        color: $bg-green;
        margin-bottom: 30px;
    }

}