.works {
    &__title {
        background-color: #faf8f0;
        background-image: url('images/')
    }
}

.slider {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    &__descr {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $bg-white;
    }
    &__preview {
        height: 50%;
        width: 50%;
        background-color: $bg-beige;

    }
    &__controls {
        height: 50%;
        width: 50%;
        // background-color: rgba(#c7c6c1, .6);
    }
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__tech {
        text-transform: uppercase;
        padding: 20px 0;
        margin-bottom: 35px;
        text-align: center;
        border-bottom: 1px solid $bg-green;
        border-top: 1px solid $bg-green;
        color: $bg-green;
        width: 120%;
        margin-bottom: 35px;
    }
}

.btn-show {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    background-color: $bg-green;
    color: $white;
    border-radius: 5px;
    &__icon {
        fill: $white;
        margin-right: 10px;
    }
    &:hover {
        background-color: $bg-green-dark;
    }
}

.controls {
    display: flex;
    &__item {
        position: relative;
        width: 50%;
        border-right: 1px solid $transp-white;
        background-color: rgba(#c7c6c1, .6);
        &:hover {
            background-color: rgba(#bcbab1, .6);
        }
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__icon {
        fill: $transp-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:hover {
            fill: $white;
        }
        &_next {
            //FIXME
            transform: rotate(180deg);
            //END FIXME
        }
    }   
}

.talk {
    background-image: url('../images/bg-works.jpg');
    background-size: cover;
    min-height: 620px;
    position: relative;
    
    &__top-area {
        height: 100%;
        min-height: 620px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
    &__bottom-area {
        display: flex;
        align-items: center;
        // justify-content: center;
        // height: 100%;
        flex-direction: column;
        min-height: 620px;
        height: 120vh;
        position: relative;
    }
    &__arrow {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -100%);
        transform: rotate(180deg);
    }
    &__footer {
        position: absolute;
        top: 100%;
        width: 100%;
        transform: translateY(-100%);
    }

}

.container {
    margin: 0 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
}

.quotes {
    display: flex;
    color: $text-dark;
    &__item {
        flex: 1;
        &:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    &__symb {
        font-family: 'FontAwesome';
        color: #d5d7d8;
        margin-bottom: 35px;
    }
    &__text {
        margin-bottom: 25px;
    }
}

.person {
    display: flex;
    color: $bg-green;
    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
        overflow: hidden;
        position: relative;
    }
    &__img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.form {
    width: 33% + 15%;
    // max-height: 440px;
    border-radius: 4px; 
    //FIXME
    background-color: rgba(#fcfcfc, .7);
    //END FIXME
    &__input-area {
        margin: 5%;
    }
    &__input, &__text-area {
        padding: 20px;
        font-size: 16px;
        outline: none;
        border-radius: 5px;
        border: 0;
        width: 100%;
    }

    &__text-area {
        min-height: 140px;
        resize: none;
    }

    &__input {
        margin-bottom: 15px;
    }

}

// .button {
//     &_form {

//     }
// }