.works {
    &__title {
        background-color: #faf8f0;
        background-image: url('images/')
    }
    // min-height: 940px;
}

.talk {
    width: 100%;
    padding: 2.8125rem 1.25rem 0;
    position: relative;
    z-index: 0;
    padding-left: 10%;
    padding-right: 10%;
    // text-align: center;
    min-height: 100vh;
    overflow: hidden;
    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        min-width: 56.25rem;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    &__top-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    &__bottom-area {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__arrow {
        margin-bottom: 8%;
        transform: rotate(180deg);
    }
    &__form {
        margin-bottom: 8%;
    }
}

.container {
    margin: 0 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include tablets {
        margin: 0 5%;
    }
}

.quotes {
    display: flex;
    flex-wrap: wrap;
    color: $text-dark;
    &__item {
        width: 45%;
        &:not(:nth-of-type(2n)) {
            margin-right: 5%;
        }
        display: flex;
        flex-direction: column;
        @include phones {
            width: 100%;
            &:not(:nth-of-type(2n)) {
                margin-right: 0;
            }
            margin-bottom: 15%;
        }
    }
    &__symb {
        font-family: 'FontAwesome';
        color: #d5d7d8;
        font-size: 36px;
        margin-bottom: 35px;
        @include phones {
            text-align: center;
        }
    }
    &__text {
        margin-bottom: 25px;
    }
    &__person {
        margin-top: auto;
    }
}

.person {
    display: flex;
    color: $bg-green;
    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
        overflow: hidden;
        position: relative;
    }
    &__img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.form {
    width: 380px;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    @include phones {
        width: 100%;
    }
   
    &__input-area {
        padding: 5%;
        border-radius: 4px 4px 0 0;
        position: relative;
        opacity: .85;        
    }
    &__input-blur {
        // content: '';
        margin: -5%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(10px);
        // z-index: 0;
        // width: 100%;
        // height: 400px;
        background: url('../images/bg-works.jpg');
        background-repeat: no-repeat;
    }
    &__input, &__text-area {
        position: relative;
        ////???????? зачем нужен pos:rel?



        padding: 20px;
        font-size: 16px;
        outline: none;
        border-radius: 5px;
        border: 0;
        width: 100%;
        color: #455a64;
    }

    &__text-area {
        min-height: 140px;
        resize: none;
        font-family: "Roboto";
    }

    &__input {
        margin-bottom: 15px;
    }

    &__btn-area {
        position: relative;
    }
}