mixin credits(className)
    .credits(class=`${className}__credits`)
            span.credits__author(class=`credits__author_className`) © Артем Калоев
            span.credits__made-where Создано с любовью в Loftscool | 2018