mixin footer(className)
    -
        var menuSet = [
            {
                href: './works.html',
                text: 'Мои работы'
            },
            {
                href: './about.html',
                text: 'Обо мне'
            },
            {
                href: './blog.html',
                text: 'Блог'
            },
            {
                href: './index.html',
                text: 'Авторизация'
            }
        ];

    footer(class=`footer ${className}__footer`)
        .footer__row
            .footer__col.footer__col_left
                .footer__menu-text
                    ul.menu-text
                        each item in menuSet
                            li.menu-text__item
                                a.menu-text__btn(href=`${item.href}`) #{item.text}           
            .footer__col.footer__col_right
                +socials('footer')
        .footer__row
            .footer__col.footer__col_left
                .footer__about-me Я веб разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
            .footer__col.footer__col_right
                .footer__credits © Артем Калоев | Создано с любовью в Loftscool | 2018